COMPOSE_PROJECT_NAME=paperless

# Development section
ConnectionStrings__DefaultConnection==Host=Hostname;Port=PostgresPortname;Database=Name;Username=Username;Password=Password

# Production section
ConnectionStrings__DefaultConnection=Host=postgres-dbGlobal;Port=5432;Database=Dystopian-Civil-Office-DB;Username=postgres;Password=postgres

PIPELINE_QUICK_CECK=temp1
