<app-dialog-shell
  title="Edit death record"
  subtitle="Update the selected values and confirm."
  [errorMessage]="apiErrorMessage"
>
  <div dialog-body>
    <form [formGroup]="form" class="flex flex-col gap-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="!pl-2">Registry number</mat-label>
        <input matInput formControlName="registryNumber" maxlength="50" class="!pl-2 !text-base" />
        @if (registryNumberError) {
          <mat-error class="!text-dco-text-error">{{ registryNumberError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="!pl-2">Person PESEL</mat-label>
        <input matInput formControlName="personPesel" maxlength="11" class="!pl-2 !text-base" />
        @if (personPeselError) {
          <mat-error class="!text-dco-text-error">{{ personPeselError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="!pl-2">Death date</mat-label>
        <input
          matInput
          [matDatepicker]="deathDatePicker"
          formControlName="deathDate"
          class="!pl-2 !text-base"
        />
        <mat-datepicker-toggle matSuffix [for]="deathDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #deathDatePicker></mat-datepicker>
        @if (deathDateError) {
          <mat-error class="!text-dco-text-error">{{ deathDateError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="!pl-2">Cause of death</mat-label>
        <input matInput formControlName="causeOfDeath" maxlength="11" class="!pl-2 !text-base" />
        @if (causeOfDeathError) {
          <mat-error class="!text-dco-text-error">{{ causeOfDeathError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="!pl-2">Death place</mat-label>
        <input matInput formControlName="deathPlace" maxlength="100" class="!pl-2 !text-base" />
        @if (deathPlaceError) {
          <mat-error class="!text-dco-text-error">{{ deathPlaceError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="!pl-2">Document name</mat-label>
        <input matInput formControlName="documentName" maxlength="100" class="!pl-2 !text-base" />
        @if (documentNameError) {
          <mat-error class="!text-dco-text-error">{{ documentNameError }}</mat-error>
        }
      </mat-form-field>
    </form>
  </div>

  <div dialog-actions>
    <app-button label="Cancel" variant="secondary" (buttonClick)="onCancel()"></app-button>
    <app-button label="Confirm" [disabled]="isSubmitting" (buttonClick)="onConfirm()"></app-button>
  </div>
</app-dialog-shell>
