<app-dialog-shell
  title="Edit document"
  subtitle="Update the selected values and confirm."
  [errorMessage]="apiErrorMessage"
>
  <div dialog-body>
    <form [formGroup]="form" class="flex flex-col gap-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="!pl-2">Name</mat-label>
        <input matInput formControlName="name" maxlength="100" class="!pl-2 !text-base" />
        @if (nameError) {
          <mat-error class="!text-[#F28A8A]">{{ nameError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="!pl-2">Category</mat-label>
        <input matInput formControlName="category" maxlength="100" class="!pl-2 !text-base" />
        @if (categoryError) {
          <mat-error class="!text-[#F28A8A]">{{ categoryError }}</mat-error>
        }
      </mat-form-field>
    </form>
  </div>

  <div dialog-actions>
    <app-button label="Cancel" variant="secondary" (buttonClick)="onCancel()"></app-button>
    <app-button label="Confirm" [disabled]="isSubmitting" (buttonClick)="onConfirm()"></app-button>
  </div>
</app-dialog-shell>
