<app-dialog-shell
  title="Create document"
  subtitle="Fill in the required values and confirm."
  [errorMessage]="apiErrorMessage"
>
  <div dialog-body>
    <form [formGroup]="form" class="flex flex-col gap-4">
      <!-- Pole Name -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="!pl-2">Name</mat-label>
        <input matInput formControlName="name" maxlength="100" class="!pl-2 !text-base" />
        @if (nameError) {
          <mat-error class="!text-dco-text-error">{{ nameError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="!pl-2">Category</mat-label>
        <mat-select formControlName="category" class="!pl-2 !text-base flex items-center h-full">
          <mat-option value="BirthRecord">Birth Record</mat-option>
          <mat-option value="Person">Person</mat-option>
          <mat-option value="Address">Address</mat-option>
          <mat-option value="DeathRecord">Death Record</mat-option>
          <mat-option value="MarriageRecord">Marriage Record</mat-option>
        </mat-select>
        @if (categoryError) {
          <mat-error class="!text-dco-text-error">{{ categoryError }}</mat-error>
        }
      </mat-form-field>
    </form>
  </div>

  <div dialog-actions>
    <app-button label="Cancel" variant="secondary" (buttonClick)="onCancel()"></app-button>
    <app-button label="Confirm" [disabled]="isSubmitting" (buttonClick)="onConfirm()"></app-button>
  </div>
</app-dialog-shell>
