<div class="text-center p-8">
  <h1 class="text-6xl">Welcome to Dystopian Civil Office!</h1>
  <p class="text-2xl p-8">
    Dystopian Civil Office provides our idea for anarchic world, but with simular functionalities to
    real civil office in Poland. View, add, update and delete any data you want, enjoy daily
    statistics and have fun with our system! This is a demo <u>open source</u> app for learning
    purposes, so feel free to reverse-engineer our code on github repository. Infrastructure
    documentation is available in our docs folder on main repo page. hAvE fUn!
  </p>
  <p class="text-2xl">What happenned to us? No time for friends, only our enemies leave roses...</p>
</div>
