<app-dialog-shell
  title="Create marriage record"
  subtitle="Fill in the required values and confirm."
  [errorMessage]="apiErrorMessage"
>
  <div dialog-body>
    <form [formGroup]="form" class="flex flex-col gap-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="!pl-2">Registry number</mat-label>
        <input matInput formControlName="registryNumber" maxlength="50" class="!pl-2 !text-base" />
        @if (registryNumberError) {
          <mat-error class="!text-dco-text-error">{{ registryNumberError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="!pl-2">Spouse 1 PESEL</mat-label>
        <input matInput formControlName="spouse1Pesel" maxlength="11" class="!pl-2 !text-base" />
        @if (spouse1PeselError) {
          <mat-error class="!text-dco-text-error">{{ spouse1PeselError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="!pl-2">Spouse 2 PESEL</mat-label>
        <input matInput formControlName="spouse2Pesel" maxlength="11" class="!pl-2 !text-base" />
        @if (spouse2PeselError) {
          <mat-error class="!text-dco-text-error">{{ spouse2PeselError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="!pl-2">Marriage date</mat-label>
        <input
          matInput
          [matDatepicker]="marriageDatePicker"
          formControlName="marriageDate"
          class="!pl-2 !text-base"
        />
        <mat-datepicker-toggle matSuffix [for]="marriageDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #marriageDatePicker></mat-datepicker>
        @if (marriageDateError) {
          <mat-error class="!text-dco-text-error">{{ marriageDateError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="!pl-2">Marriage place</mat-label>
        <input matInput formControlName="marriagePlace" maxlength="100" class="!pl-2 !text-base" />
        @if (marriagePlaceError) {
          <mat-error class="!text-dco-text-error">{{ marriagePlaceError }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label class="!pl-2">Document name</mat-label>
        <input matInput formControlName="documentName" maxlength="100" class="!pl-2 !text-base" />
        @if (documentNameError) {
          <mat-error class="!text-dco-text-error">{{ documentNameError }}</mat-error>
        }
      </mat-form-field>
    </form>
  </div>

  <div dialog-actions>
    <app-button label="Cancel" variant="secondary" (buttonClick)="onCancel()"></app-button>
    <app-button label="Confirm" [disabled]="isSubmitting" (buttonClick)="onConfirm()"></app-button>
  </div>
</app-dialog-shell>
