<div
  class="fixed inset-0 z-50 flex items-center justify-center bg-black/50"
  (click)="onBackdropClick()"
>
  <div class="relative rounded-lg bg-white shadow-xl" (click)="$event.stopPropagation()">
    <button
      *ngIf="showCloseButton"
      type="button"
      class="absolute right-4 top-4 text-gray-400 hover:text-gray-600"
      (click)="onClose()"
      aria-label="Close modal"
    >
      ✕
    </button>
    <div class="p-6">
      <ng-content></ng-content>
    </div>
  </div>
</div>
