<button
  type="button"
  [disabled]="disabled"
  (click)="onClick()"
  class="inline-flex min-h-11 items-center justify-center rounded-xl m-1 px-6 text-[13px] font-semibold uppercase tracking-[0.08em] shadow-sm transition disabled:cursor-not-allowed disabled:opacity-60 hover:cursor-pointer"
  [ngClass]="[
    variant === 'primary'
      ? 'border border-stone-900 bg-[#0F3604] text-dco-text-secondary hover:bg-[#1B5E08]'
      : 'border border-stone-900 bg-[#4F170A] text-zinc-100 hover:bg-[#691D0C]',
    customClass,
  ]"
>
  {{ label }}
</button>
